<!doctype html>
<html lang="ja" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>カバー for Bootstrap · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.jp/docs/5.0/examples/cover/">

    

    <!-- Bootstrap core CSS -->
<link href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .bg-img{
        background-image: url("/assets/main_6.png");
        background-position: center center;
        background-repeat: repeat-y;
        background-size: cover;
        position: relative;
      }

      .navbar-brand {
        background: url("/assets/arm.png") no-repeat left center;
        background-size: cover;
        height: 50px;
        width: 70px;
      }


      .nav-item{
        margin-right:40px;
      }

      tbody{
        font-size: 17px;
      }

      .pagination {
        justify-content: center;
      }

     .title-name{
       margin-right: 20px;
     }


     b{
       color: yellow;
     }

     .tweet-image{
       height: 100%;
       width: 100%;
     }

     .messages-container{
       list-style: none;
     }

    .text-warning,
    .text-dark,
    .text-danger,
    .like-link{
       text-decoration: none;
     }

     .overflow-div{
       overflow-x: scroll;
       height: 55vh;
     }

     .comment-container{
       background-color: #FFFFEE ;
     }

    .icon_image {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        object-fit: cover;
     }

    .like-link:hover {
        background-color: #fff!important;
    }

    .like-btn {
        font-size: 15px;
        color: #808080;
    }
 
    .unlike-btn {
        font-size: 15px;
        color: #e54747;
    }

    .updated{
      background-color: #FFFF66;
    }
</style>

    
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

<body class="d-flex h-100 text-left text-dark p-3 p-sm-5 mb-4 bg-img" >
  <div class=" d-flex w-100 h-100 p-3 mx-auto flex-column">
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary bg-gradient fixed-top pt-2 pb-2 d-flex align-items-center">
    <div class="container-fluid">
      <a class="navbar-brand rounded-circle" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse position-relative" id="navbarsExampleDefault pull-right">
        <div class="title-name">
          <h1 class="text-white">TrainingShare</h1>
        </div>
        <div class="nickname-content">
          <h5>ようこそ<b><%= link_to("#{current_user.nickname}", user_path(current_user.id), {class: "text-warning"}) %></b>さん</h5>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-md-0 position-absolute top-50 end-0 translate-middle-y">
          <li class="nav-item ">
            <%= link_to("マイページ", user_path(current_user.id), {class: "nav-link btn btn-warning text-dark w-100"}) %>
          </li>
          <li class="nav-item ">
            <%= link_to("新規投稿",  new_tweet_path, {class: "nav-link btn btn-warning text-dark w-100"}) %>
          </li>
          <li class="nav-item ">
            <%= link_to("投稿一覧へ戻る", tweets_path, {class: "nav-link btn btn-warning text-dark w-100"}) %>
          </li>
          <li class="nav-item">
            <%= link_to("ログアウト", destroy_user_session_path, {class: "nav-link btn btn-warning text-dark w-100", method: :delete}) %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="px-3" style= "margin-top:30px">
    <div class="container mb-5 ">
      <div class="card mx-auto " style="width: 50%;">
        <div class="card-body">
          <div class="h2 bg-warning">投稿の詳細</div>
            <div class="image-content d-flex justify-content-start">
              <% if @tweet.user.image.blank? %>
                <div class="image">
                  <img src="<%= asset_path "no_image.png" %>" class = "icon_image img-thumbnail rounded-circle mx-auto d-block mb-3">
                </div>
              <% else %>
                <div class="image">
                  <img src=<%= @tweet.user.image %> class = "icon_image img-thumbnail rounded-circle mx-auto d-block mb-3">
                </div>
              <% end %>

                <div class="nickname-content d-flex align-items-end" style="margin-right: 20px">
                  <%= link_to("#{@tweet.user.nickname}さん", user_path(@tweet.user), {class: "text-dark"}) %></a>
                </div>

               <div class="like-content d-flex align-items-end" id="tweet_<%= @tweet.id %>">
                 <%= render partial: "tweet", locals: { tweet: @tweet } %>
               </div>


            </div>

          <table class="table table-hover">
            <tbody class="border-bottom border-2">
              <tr>
                <th class="fs-3" style="width: 30%">タイトル</th>
                <td class="fs-3"><%= @tweet.title %></td>
              </tr>
              <tr>
                <th>投稿日</th>
                <% unless @tweet.created_at == @tweet.updated_at%>
                  <td><%= l @tweet.created_at %><p class="updated text-center" ><%= l @tweet.updated_at %>に編集されました</p></td>
                <% else %>
                  <td><%= l @tweet.created_at %></td>
                <% end %>
              </tr>
              <tr>
                <th>内容</th>
                <td><%= @tweet.content %></td>
              </tr>
            </tbody>
         </table>
         <%= image_tag @tweet.image, class:"tweet-image" if @tweet.image.attached? %>
        </div>
        <% if user_signed_in? && @tweet.user_id == current_user.id %>
          <div class="d-flex justify-content-evenly">
            <p><%= link_to("編集する", edit_tweet_path(@tweet.id), {class: "btn btn-warning btn-lg text-dark"}) %></p>
            <p><%= link_to("削除する", tweet_path(@tweet.id), {class: "btn btn-warning btn-lg text-dark", method: :delete, data: { confirm: '本当に削除しますか？'}}) %></p>
          </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-center">
        <div class="comment-container border border-warning border-3 mt-3 px-3 py-3 " style="width: 50%;">
          <h3>コメント</h3>
          <%= form_with(model: [@tweet,@message], url: tweet_messages_path(@tweet.id)) do |f| %>
           <%= f.text_field :text %>
           <%= f.submit '送信' %>
          <% end %>

           <div class="overflow-div" id='messages'>
              <% @messages.reverse_each do |message| %>
              <div class="mt-4 message-container" id="message-#{message.id}">
                <div>
                  <p><%= link_to "@#{message.user.nickname}", user_path(message.user.id) %></p>
                </div>
                <div class="text-container">
                  <p><%= message.text %></p>
                </div>
              <% end %>
           </div>
        </div>
        </div>
      </div>
  </main>



  <footer class="fixed-bottom mt-auto text-white-50  text-center bg-secondary">
    <p class="text-white"> ©︎ training record </p>
  </footer>
</div>


  </body>
</html>